flask==3.0.3
gunicorn==22.0.0
pytest==8.3.3
requests==2.32.3

# OpenTelemetry
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-instrumentation-flask==0.48b0
opentelemetry-instrumentation-requests==0.48b0
